html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.product-card {
    position: relative;
    border: none;
}

.product-img {
    height: 250px;
    object-fit: contain;
    background-color: #f8f8f8;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    color: red;
    border: 1px solid red;
    padding: 4px 8px;
    font-size: 12px;
}

.filter-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.mega-menu {
    width: 800px;
}

.dropdown-menu {
    border: none;
}

    .dropdown-menu a {
        text-decoration: none;
        color: black;
    }

        .dropdown-menu a:hover {
            color: red;
        }